# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Django
*.log
*.pot
*.pyc
*.sqlite3
/staticfiles/
/media/

# Virtualenv
venv/
.env

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# Model files
core/model_files/*.keras
core/model_files/*.pkl

# Docker
*.pid

# AWS
*.pem

# Misc
*.bak
*.swp
*.swo

# Node
node_modules/

# Test coverage
htmlcov/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
test-results/

# Jupyter
.ipynb_checkpoints
*.ipynb

# Other
*.orig
*.rej
