services:
  web:
    build: .
    container_name: unruffled_web
    restart: always
    ports:
      - "8000:8000"
    env_file:
      - .env
    depends_on:
      - db
    volumes:
      - .:/app

  db:
    image: postgres:15
    container_name: unruffled_db
    restart: always
    environment:
      POSTGRES_DB: unruffledai
      POSTGRES_USER: unruffled_user
      POSTGRES_PASSWORD: Minnie1800!
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
